$ffffff: #ffffff;
$ffffff4d: #ffffff4D;
$ffffff80: #ffffff80;
$ffffff26: #ffffff26;
$fcfcfc: #fcfcfc;
$f7fdff: #f7fdff;
$fbf9f9: #FBF9F9;
$f2f8fc: #f2f8fc;
$a40c4ff: #40C4FF;
$ef2853: #EF2853;
$ee2852: #EE2852;
$a30303066: #acacac;
$a222222: #222222;
$a0707071a: #e6e6e6;
$a00000026: #d9d9d9;