//text
$ffffff: #ffffff;
$ffffffCC: #ffffffCC;
$fbfbfc: #fbfbfc;
$cecece: #cecece;
$b9b9b9: #b9b9b9;
$a40c4ff: #40c4ff;
$ababab: #ababab;
$a6a6a6: #a6a6a6;
$a55acee: #55acee;
$a959595: #959595;
$a92919c: #92919c;
$a898989: #898989;
$a808080: #808080;
$dc4d40: #dc4d40;
$a847b7b: #847b7b;
$a606264: #606264;
$a3b5998: #3b5998;
$a595959: #595959;
$a373838: #373838;
$a303030: #303030;
$a000000: #000000;

//border
$f2f2f2: #f2f2f2;
$efefef: #efefef;
$d6f2ff: #d6f2ff;
$ebebeb: #ebebeb;
$eaebeb: #eaebeb;
$e5e5e5: #e5e5e5;
$a40c4ff: #40c4ff;
$a6d6d6d: #6d6d6d;

//fill
$ffffff: #ffffff;
$ee2852: #ee2852;
$a000000: #000000;

//bg
$ffffff: #ffffff;
$ffffff4d: #ffffff4D;
$ffffff80: #ffffff80;
$ffffff26: #ffffff26;
$fcfcfc: #fcfcfc;
$f7fdff: #f7fdff;
$fbf9f9: #FBF9F9;
$f2f8fc: #f2f8fc;
$ffd740: #ffd740;
$a9ce0ff: #9ce0ff;
$a40c4ff: #40C4FF;
$ef2853: #EF2853;
$ee2852: #EE2852;
$a30303066: #acacac;
$a222222: #222222;
$a0707071a: #e6e6e6;
$a00000026: #d9d9d9;