$ffffff: #ffffff;
$ffffffCC: #ffffffCC;
$fbfbfc: #fbfbfc;
$cecece: #cecece;
$b9b9b9: #b9b9b9;
$a40c4ff: #40c4ff;
$ababab: #ababab;
$a6a6a6: #a6a6a6;
$a92919c: #92919c;
$a898989: #898989;
$a808080: #808080;
$dc4d40: #dc4d40;
$a847b7b: #847b7b;
$a606264: #606264;
$a3b5998: #3b5998;
$a595959: #595959;
$a373838: #373838;
$a303030: #303030;
$a000000: #000000;